.sort {
  overflow: hidden;
  border: 1px solid #e8dbdb;
}
.sort .item {
  cursor: pointer;
  float: left;
  padding: 5px 15px;
}
.sort .item .icon {
  font-size: 14px;
  vertical-align: middle;
  margin-left: 1px;
}
